*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.quiz-app{
    width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f8f8f8;
}
.quiz-app .quiz-info{
    display: flex;
    background-color: #FFF;
    padding: 20px;
}
.quiz-app .quiz-info .category{
    flex: 1;
}
.quiz-app .quiz-info .count{
    flex: 1;
    text-align: right;
}

.quiz-app .quiz-area{
    background-color: #FFF;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 4px;
}
.quiz-app .quiz-area h2{
    margin: 0;
}
.quiz-app .answers-area{
    background-color: #FFF;
    padding: 20px;
}
.quiz-app .answers-area .answer{
    padding: 15px;
    background-color: #f9f9f9
}
.quiz-app .answers-area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label{
    color: #0075ff;
}
.quiz-app .answers-area .answer label{
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.quiz-app .submit-btn{
    background-color: #0075ff;display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px auto;
}
.quiz-app .submit-btn:focus{
    outline: none
}
.quiz-app .bullets{
    border-top: 1px solid #dfdfdf;
    display: flex;
    padding: 20px;
}
.quiz-app .bullets .spans{
    flex: 1;
    display: flex;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    background-color: #DDD;
    margin-right: 5px;
    border-radius: 50%;
}
.quiz-app .bullets .spans span.on{
    background-color: #0075ff;
}

.quiz-app .results{
    background-color: #FFF;
    padding: 20px;
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results span.bad{
    color: #dc0a0a;
}
.quiz-app .results span.good{
    color: #009688;
}
.quiz-app .results span.perfect{
    color: #0075ff;
}